.myscript-writing-svg-container {
  -ms-touch-action: none;
  touch-action: none;
}

.myscript-writing-button {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  border: 2px solid blue;
  height: 15px;
}
